body {
    background-color: #EDEDED;
}

.jumbotron {
	background-color: white;
}

.navbar {
	background-color: #333535;
}

a:hover {
	text-decoration: none;
}

hr {
	border-color: #333333;
}

.photoButton {
	padding: 0px;
}

.photoButton:hover {
	border-style: solid;
	border-width: 5px;
	border-color: #C0C0C0;
}